--extra-index-url https://download.pytorch.org/whl/cpu

aiohttp==3.14.3
faster-whisper==1.2.1
kokoro==0.9.4
mcp==1.28.*
numpy==2.4.4
soundfile==0.13.1
spacy==3.8.14
torch==2.13.0
wyoming==1.10.0
zeroconf==0.150.0
